.apply-button {
  background-color: rgb(57, 99, 161);
  height: 50px;
  padding: 10px 20px 10px;
  font-family: "Roboto";
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  vertical-align: middle;
}

.btn {
  display: flex;
  justify-content: center;
  padding-right: 15px;
}

.no-button {
  background-color: #fff;
  height: 50px;
  padding: 10px 20px 10px;
  font-family: "Roboto";
  font-size: 25px;
  color: rgb(57, 99, 161);
  text-align: center;
  font-weight: 500;
  border: 2px solid rgb(57, 99, 161);
  border-radius: 6px;
  vertical-align: middle;
}

.btn-row {
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-dialog-content {
  font-size: 20px;
}

::ng-deep #mat-dialog-title-0 {
  font-size: 25px;
}
