@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

app-top-bar {
  width: 100%;
  height: 68px;
  background-color:#6d9eebff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

app-top-bar a {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 40px;
  margin: 3px;
  padding-right: 25px;
  padding-left: 25px;
  text-decoration: none;
}


/* materia designm icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body { height: 100%; }



body {
  background-color:#f3f3f3ff;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
app-main-page{
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
