<div class="dates">
  <mat-form-field class="form-field">
    <input matInput
           (ngModelChange)="emitStartDate()"
           [matDatepicker]="pickerstart"
           placeholder="Start Date"
           [formControl]="startDate"
           [min]="minDate"
           [max]="maxDate">
    <mat-datepicker-toggle matSuffix
                           [for]="pickerstart"></mat-datepicker-toggle>
    <mat-datepicker #pickerstart
                    startView="multi-year"
                    (yearSelected)="chosenYearHandlerStart($event)"
                    (monthSelected)="chosenMonthHandlerStart($event, pickerstart)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <!-- //TODO - handle min = start -->
  <mat-form-field class="form-field">
    <input matInput
           (ngModelChange)="emitEndDate()"
           [matDatepicker]="pickerend"
           placeholder="End Date"
           [formControl]="endDate"
           [min]="minDate"
           [max]="maxDate">
    <mat-datepicker-toggle matSuffix
                           [for]="pickerend"></mat-datepicker-toggle>
    <mat-datepicker #pickerend
                    startView="multi-year"
                    (yearSelected)="chosenYearHandlerEnd($event)"
                    (monthSelected)="chosenMonthHandlerEnd($event, pickerend)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</div>
