.form-field {
  float: left;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  font-size: 15px;
  position: relative;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.dates {
  display: flex;
  flex-direction: row;
}
