#chart-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
}

google-chart {
  padding: 20px;
  border: 4px solid #808080;
  border-radius: 25px;
}

.headline {
  padding: 20px;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
