<mat-form-field class="form-field">
  <mat-label>Pick a Country: </mat-label>
  <input (change)="emitCountry()"
         type="text"
         placeholder="E.g. 'United States'"
         aria-label="text"
         matInput
         [formControl]="formControl"
         [matAutocomplete]="auto"
         [(ngModel)]="countryValue">
  <mat-autocomplete autoActiveFirstOption
                    (optionSelected)="countryValue = $event.option.value; emitCountry()"
                    #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
