.form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: row wrap;
}

.input-element {
  flex: 0 1 10%;
  /* padding: 0px 20px; */
  padding-left: 1%;
  font-size: 1.5vh;
  font-family: "Roboto", cursive;
}

.terms {
  flex: 0 1 450px;
}

.btn {
  display: flex;
  align-items: center;
  padding-left: 1%;
  padding-bottom: 1%;
}

.apply-button {
  background-color: rgb(57, 99, 161);
  padding: 10px 20px 10px;
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  vertical-align: middle;
  font-size:0.8vw;
}

.inputs {
  display: flex;
  justify-content: center;
  padding: 40px;
}

::ng-deep .mat-form-field {
  width: 100%;
}
