<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet">
<div class="inputs">
  <form class="form">
    <app-term-input class="input-element"
                    (termSelected)="term = $event"></app-term-input>
    <app-country-input class="input-element"
                       (countrySelected)="country= $event"></app-country-input>
    <app-date-input class="input-element"
                    (startSelected)="startDate = $event"
                    (endSelected)="endDate = $event"></app-date-input>
    <app-interval-input class="input-element"
                        (intervalSelected)="interval = $event"></app-interval-input>
    <button class="input-element apply-button"
            (click)="sendParameters()">Apply</button>
  </form>
</div>
