.form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

.input-element {
  flex: 0 1 300px;
  padding: 0px 20px;
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", cursive;
}

.terms {
  flex: 0 1 450px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0px 5px 25px;
}

.apply-button {
  background-color: rgb(57, 99, 161);
  height: 50px;
  padding: 10px 20px 10px;
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  vertical-align: middle;
}

.inputs {
  display: flex;
  justify-content: center;
  padding: 40px;
}


::ng-deep .mat-form-field {
  width: 100%;
}
