<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto&display=swap" rel="stylesheet">
<div id="histogramy-info">
    <div id="img-container">
        <a routerLink="/histogramy">
            <img src="assets/img/Histogramy.png" alt="Histogramy">
        </a>
    </div>
    <br> 
    <p> 
            <Strong>Histogramly</Strong> is a tool that allows you to see a summarized
            view of top and rising topics based on Google Trends. 
    </p>
</div>
<div id="clusterly-info"> 
    <div id="img-container">
        <a routerLink="/clusterly">
            <img src="assets/img/Clusterly.png" alt="Clusterly">
        </a>
    </div>
    <br> 
    <p> <Strong>Clusterly</Strong> is a tool that allows you to explore subsection
            of a given domian via interactive user interface. 
    </p>
</div>

